body {
  margin: 10px;
  font-family: 'Roboto Condensed', 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
}

p {
  margin: 5px 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8cf;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bdf;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

#current-secs {
  width: calc(100% - 1.6px);
  height: calc(16px - 1.6px);
  border: solid 0.5px #fff;
}